@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: #ffec8d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow-x: hidden; */
}

.container-login{
    font-family: inter;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;

}
.titulo-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    /* border: solid; */
}

/* <<CONTAINER ESQUERDA>> */
.img-login{
    transform: scale(2);
    margin-top: 2em;
    margin-left: 6.7em;
}
/* <<CONTAINER ESQUERDA//>> */


/* <<CONTAINER DIREITA>> */
.info-login{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 10px;
    height: 100vh;
    width: 50%;
}
/* <<CONTAINER DIREITA//>> */



/* <<H2 + BOTÃO LOGIN>> */
.texto-login{
    display: flex;
    flex-direction: column;
    text-align: start;
    height: auto;
    margin-left: 4em;
    /* border: solid; */

}   

.texto-login h2{
    /* margin-top: 1px; */
    font-family: Koh Santepheap;
    font-size: 44px;
}
.texto-login p{
    font-size: 20px;
    font-family: inter;
}

.barra-roxa{
    height: 18px;
    width: 25%;
    
}

.texto-login button{
    width: 8em;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: #9B8DF1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* .texto-login button:hover{ 
} */
/* <<H2 + BOTÃO LOGIN//>> */



/* <<INPUTS>> */
.inputs-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25em;
    /* border: solid; */
    
}

.inputs-login p{
    font-family: inter;
    font-size: 22px;
}

.inpt-p{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 30px;
}
.inpts-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 60px 0px 85px;
    /* margin-top: 8em; */
    /* border: solid #26c7bf; */

}

.inpts-login input{
    width: 550px;
    height: 65px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inpts-login input:focus{
    outline: 1px;
    border: 1px solid #9B8DF1;
    background-color: #f3f3fc;
    transition: 0.23s;
}
/* <<INPUTS//>> */



/* <<TERMOS + BOTÃO>> */
.base-login{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin-top: 3em;
    margin-bottom: 0;
    /* border: solid; */

}

.sem-cadastro{
    font-size: 20px;
    font-family: roboto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100%;
    /* border: solid; */

}

.sem-cadastro a{
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    /* color: #8275d6; */
    /* padding: 10px; */
}

.base-login button {
    height: 65px;
    padding: 10px;
    font-weight: 600;
    font-size: 24px;
    background-color: #9B8DF1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .base-login button:hover,
.texto-login button:hover {
    transition: 0.2s;
    background-color: #766cbb;
} */
.base-login button:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    background-color: #8468e3;
}



/* <<TERMOS + BOTÃO//>> */

/* CUSTOMIZAÇÃO */
.info-login, .base-login button {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-input p{
    margin-left: 10px;
}
.icon-login{
    font-size: 24px;
}