
/* <<GERAL>> */
.container-cadastro{
    font-family: inter;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
    background-image: url('/images/fundo_patas.svg');

}

/* <<CONTAINER ESQUERDA>> */
.container-img{
    height: 100vh;
    width: auto;
    
}

.img-cadastro{
    height: 900px;
    margin-top: 3em;
    /* border: solid; */
}
/* <<CONTAINER ESQUERDA//>> */


/* <<CONTAINER DIREITA>> */
.info-cadastro{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
}
/* <<CONTAINER DIREITA//>> */



/* <<H2 + BOTÃO LOGIN>> */
.texto-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 400px;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 6em;
    /* border: solid; */
}   

.texto-cadastro h2{
    margin-top: 1px;
    font-family: Koh Santepheap;
    font-size: 38px;
    margin-right: 60px;
}

.barra-img{
    display: flex;
    flex-direction: column;
}
.barra-img img{
    height: 13px;
    width: 100%;
}

.barra_cadastro{
    margin-top: 7px;
}

.texto-cadastro button{
    width: 8em;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: #84644D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* <<H2 + BOTÃO LOGIN//>> */



/* <<INPUTS>> */
.inputs-cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25em;
    /* border: solid; */
    margin-right: 65px;
    
    
}

.inputs-cadastro p{
    font-family: inter;
    font-size: 22px;
}
.inpt-p{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.inputs-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0px 60px 0px 85px; */
    padding-right: 0px;
    /* border: solid */

}

.inputs-column input
{
    width: 400px;
    height: 60px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs-column input:focus
{
    border: 1px solid #84644D;
    background-color: #f3f3fc;
    transition: 0.3s;
    outline: 1px;
}

.inputs-column {
    flex: 1;
    padding: 0 10px;
}


/* .inpts-dois{
    margin-left: 50px;
} */
/* <<INPUTS//>> */



/* <<TERMOS + BOTÃO>> */
.botao-termos-cadastro{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin-top: 4em;
    /* border: solid; */

}

.termos{
    font-size: 16px;
    font-family: roboto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    /* border: solid; */

}

.termos a{
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    color: #84644D;
}
.termos input{
    transform: scale(1.3);
    margin-right: 15px;
}

.botao-termos-cadastro button {
    width: 100%;
    height: 65px;
    font-weight: 600;
    font-size: 24px;
    background-color: #84644D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-termos-cadastro button:hover,
.texto-cadastro button:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    background-color: #58483c;
}

/* <<TERMOS + BOTÃO//>> */

    /* CUSTOMIZAÇÃO */
.info-cadastro {
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.icon-input p{
    margin-left: 10px;
}
.icon-cadastro{
    font-size: 24px;
}

.icon-telefone{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
    font-size: 24px;
    transform: scaleX(-1);
}
@media (max-width: 1024px) {
    .container-cadastro {
        flex-direction: column;
    }

    .container-img {
        height: auto;
    }

    .img-cadastro {
        width: 90%;
        max-height: 400px;
    }

    .texto-cadastro {
        flex-direction: column;
        gap: 10px;
    }

    .inputs-cadastro {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .texto-cadastro h2 {
        font-size: 1.8rem;
    }

    .inputs-column input {
        height: 45px;
    }

    .botao-termos-cadastro button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .img-cadastro {
        margin-top: 1em;
    }

    .texto-cadastro h2 {
        font-size: 1.5rem;
    }

    .texto-cadastro button {
        width: 100%;
        font-size: 14px;
    }

    .inputs-column input {
        font-size: 0.9rem;
        height: 40px;
    }

    .botao-termos-cadastro button {
        font-size: 12px;
        height: 45px;
    }
}


.erro-termos{
    color: rgb(219, 16, 16);;
    text-align: center;
    font-size: 20px;
    margin-right: 40px;
}

.erro-senha{
    color: rgb(219, 16, 16);
    font-size: 16px;
    border: solid;
    font-weight: 600;
    margin-top: 5px;
}

.erro-mensagem {
    color: rgb(219, 16, 16);;
    text-align: center;
    font-size: 20px;
    margin-right: 40px;
}
