.container-perfil{
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 120px);
    background-image: url(/images/fundo_patas.svg);
}

.info-perfil{
    background-color: #FFFFFF;
    width: 60vw;
    padding: 20px;
    min-height: calc(100vh - 120px);
    border-radius: 20px;
    justify-content: center;
}

.info-perfil button:hover{
    cursor: pointer;
}

.titulo-barra h2{
    color: #484848;
    font-size: 32px;
}

.titulo-barra h4{
    font-weight: 500;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;

}


.info-perfil p{
    font-size: 20px;
    margin-bottom: 8px;
    
}

.barra-perfil{
    height: 8px;
    width: 230px;
    
}

.container-pets{
    width: 40vw;
}

.inputs-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputs-perfil input{
    height: 50px;
    width: 400px;
    border-radius: 12px;
    border: solid #AD947E 2px;
    box-shadow: 0px 0px 1px;
    background-color: #eceaea;
    margin-bottom: 3vh;
    outline: none;
    padding: 10px;
}

.inputs-perfil-1, .inputs-perfil-2{
    display: flex;
    flex-direction: column;
}

.inputs-perfil-1{
    margin-right: 100px;
}

.inputs-perfil-2{
    margin-left: 100px;
}
.dadoPerma{
    color: #84644D;
}
.botao-sair{
    width: 100%;
    height: 60px;
    font-size: 24px;
    background-color: #84644D;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-family: Roboto;
    margin-top: 30px;
}

.botao-sair-logout{
    width: 100%;
    height: 50px;
    padding: 9px;
    font-size: 24px;
    background-color: #84644D;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-family: Roboto;
    margin-bottom: 30px;
    margin-left: 690px;
}

.sair-conta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-logout{
    margin-left: 10px;
}

.excluir-conta{
    border: solid #84644D 2px;
    border-radius: 10px;
    background-color: #EBE5E0;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.excluir-conta h4{
    font-size: 28px;
    color: #484848;
    text-align: center;
}

.excluir-conta p{
    margin: 20px 0px 20px 0px;
}

.botao-excluir-perfil{
    height: 60px;
    width: 300px;
    background-color: #84644D;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.input-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-edit input{
    height: 50px;
    width: 360px;
    border-radius: 12px 0px 0px 12px;
    border-color: #AD947E #ffffff00 #AD947E #AD947E;
    border-right: none;
    outline: none;
}

.icon-lapis{
    display: flex;
    height: 50px;
    border: solid #AD947E 2px;
    border-radius: 0px 12px 12px 0px;
    border-color: #AD947E #AD947E #AD947E #ffffff00;
    border-left: none;
    background-color: #eceaea;
    cursor: pointer;
    font-size: 40px;
    color: #747373;
}

.conteiner-configuracoes{
    display: flex;
    flex-direction: row;
}

.dadoPerma{
    color: #84644D;
}


.titulo-barra h4{
    font-weight: 500;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;

}


.container-pets{
    padding-top: 30px;
}

.inputs-perfil input {
    max-width: none; 
    
}



@media screen and (max-width: 768px) {
    .container-perfil {
        flex-direction: column;
    }

    .info-perfil {
        width: 90%;
        padding: 20px;
    }

    .inputs-perfil {
        flex-direction: column;
    }

    .inputs-perfil input {
        width: 90%;
    }

    .botao-sair-logout {
        margin-left: 0;
    }
}


.container-perfil {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 120px);
    background-image: url(/images/fundo_patas.svg);
}

.info-perfil {
    background-color: #FFFFFF;
    width: 60vw;
    padding: 20px;
    min-height: calc(100vh - 120px);
    border-radius: 20px;
    justify-content: center;
    max-width: 100%; /* Adicione esta linha */
}

.info-perfil button:hover {
    cursor: pointer;
}

.inputs-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Adicione esta linha */
}

.inputs-perfil input {
    height: 50px;
     
    max-width: 400px; /* Adicione esta linha */
    border-radius: 12px;
    border: solid #AD947E 2px;
    box-shadow: 0px 0px 1px;
    background-color: #eceaea;
    margin-bottom: 3vh;
    outline: none;
    padding: 10px;
}

.input-edit input {
    height: 50px;
    width: 100%; 
   
    border-radius: 12px 0px 0px 12px;
    border-color: #AD947E #ffffff00 #AD947E #AD947E;
    border-right: none;
    outline: none;
}

@media screen and (max-width: 768px) {
    .container-perfil {
        flex-direction: column;
    }

    .info-perfil {
        width: 90%;
        padding: 20px;
    }

    .inputs-perfil {
        flex-direction: column;
    }


    .botao-sair-logout {
        margin-left: 0;
    }
}