/* .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
} */


.navbar-container{

    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
    padding: 10px;
    height: 120px;
    background-color: #AD947E;
    

}

.botoes-nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

a{
    font-size: 26px;
}


.nav-img{
    width: 150px;
    height: 150px;
    margin-right: 20vw;
    align-items: center;
    /* border: solid; */
}

.nav-img:hover{
    cursor: pointer;
}

.botoes-nav a {
    color: #fbfbfb; 
    text-decoration: none; 
    /* margin: 0 15px; */
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    transition: color 0.5s; 
}

.botoes-nav a:hover {
    color: #312319;
    cursor: pointer;
}

.icon-perfil{
    font-size: 50px;
    color: #fbfbfb;
}