/* .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 100vw;
} */


.navbar-container{

    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 78px;
  

}

    .botoes-nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    }

    a{
    font-size: 26px;
    }


.nav-img{
    width: 150px;
    height: 150px;
    margin-right: 500px;
    margin-top: 15px;
    }

 .nav-img:hover{
    cursor: pointer;
}

 .botoes-nav a {
    color: rgb(17, 15, 15); 
    text-decoration: none; 
    /* margin: 0 15px; */
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    transition: color 0.3s; 
}

.botoes-nav a:hover {
    color: #8c52ff;
    cursor: pointer;
}