.card-pet-perfil-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pet-card-perfil {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #fff;
}

.pet-card-perfil button:hover {
    transform: scale(1.02);
}

.pet-image {
    width: 100%;
    height: 250px;
}

.pet-info {
    padding: 15px;
    text-align: center;
}

.pet-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.pet-info p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

.botao-excluir {
    height: 45px;
    width: 180px;
    text-align: center;
    background-color: #AD947E;
    border: none;
    border-radius: 8px;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.01em;
    cursor: pointer;
    margin-top: 10px;
}